.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ed4358;
    transition: background-color 1s linear;
	height: 90px;
	padding: 0px 10px 0px 10px;
    text-decoration: none;
}

.navbar-loggedin {
	width: 100%;
	display: flex;
	justify-content: right;
	align-items: center;
}

.logo {
	font-size: 35px;
    text-shadow: 2px 1px 2px rgb(109, 109, 109);
	text-align: center;
	margin: 0;
	padding: 0px 10px 0px 10px;
}

.left {
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
}

.logout {
	padding-left: 10px;
}