@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap");

.btn {
	height: 50px;
	font-family: Raleway;
	font-weight: 100;
	font-size: 14px;
	color: #fff;
	background-color: #ffffff33;
	padding: 10px 25px;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
	border-radius: 50px;
	transition: 816ms;
	transform: translateY(0);
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	text-transform: lowercase;
}

.btn:hover {
	transition: 0.5s;
	padding: 10px 35px;
	transform: translateY(-5px);
	background-color: #fff;
	color: #ed4358;
	border: none;
}

.hover {
	transition: 2s;
}
